/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Tutorial Case

   Special Effects style sheet
   Author: Nguyễn Thanh Tú
   Date:  21/7/2021 

   Filename:         effects.css
   Supporting Files: borderimg.png

*/

