/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Tutorial Case

   Print Styles
   Author: Nguyễn Thanh Tú
   Date:   21/7/2021

   Filename:         print.css
   Supporting Files: 

*/

/* Styles to be used for print displays */



